@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    width: 330px;
    height: 100%;
    margin: 10px auto;
   
    box-shadow: 0px 0px 8px #232323AA;
}

.calculator-input {
    width: 100%;
    height: 110px;
    text-align: right;
    font-size: 2.5vw;
    padding: 0px 20px;
    border: none;

    background-color: #232323;
    color: #ffffff;
}

.calculator-body {
    display: grid;
    grid-template-columns: auto auto auto auto;
}    

.calculator-button {
    width: 100%;
    height: 75px;
    border-radius: 0px;
    border: 1px solid #9b9999;
    font-size: 1.2em;
}

.two-col {
    grid-column: 1/3;
}

.button-orange {
    background-color: #ffa500;
    color: #ffffff;
}

.button-orange:hover {
    background-color: #dd9105;
}

.button-orange:active {
    background-color: #b07404;
}
